@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}

.container {
    font-size: 33vw;
    color: red;
    animation: 3s ease infinite corazon;
    text-shadow: 4px 4px 25px rgba(255, 0, 0, 0.6);
}

.container .contenido {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Galada', cursive;
}

.container .contenido h1 {
    font-size: 50px;
}

.container .contenido p {
    font-size: 22px;
}

@keyframes corazon {

    50% {
        transform: scale(1.3);
    }

}